:host ::ng-deep .slick-next:before {
  color: black !important;
  top:0 !important
}
:host ::ng-deep .slick-prev:before {
  color: black !important;
  top:0 !important

}
:host ::ng-deep .slick-prev {
  top:10% !important

}
:host ::ng-deep .slick-next {
  top:10% !important
}
.carousel {
  width: 70%; /* Adjust as needed */
  height: 75%; /* Adjust as needed */
  margin-top: 26%;
  margin-left: 28%;
}
.slide .card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 80%;
  width: 90%; /* Adjust as needed */
  margin: auto; /* Center the card in the slide */

}
.active{
  background-color: rgb(165, 165, 165);

}
.card-header{
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  color: white;
}
.card-content{
  margin-top: -8.5vh;
  height: 25vh;
  padding-top: 0%;
  padding-left: 0;
  background-color: gray;
}
.projects{
  font-weight: 700;
  font-size: xx-large;
  font-family: 'Inter', sans-serif;
}
.card-text{
  font-weight: 300;
  font-family: 'Inter', sans-serif;
}
:host ::ng-deep.slick-current {
height: 500px;
transition: .5s;
}
.slide .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
.textured-div {
  width: 80%; /* Adjust as per your requirement */
  height: 60%; /* Adjust as per your requirement */
  top: 15%;
  right: 10%;
  background: repeating-linear-gradient(
      45deg,
      #d1d0d0,
      #d1d0d0 1px,
      transparent 3px,
      transparent 5px
  );
  clip-path: polygon(50% 100%, 100% 0%, 0% 100%);

}
.card-header, .card-text {
  padding: 20px;
}
:host ::ng-deep .slick-list{
  height: 82% !important;
}
:host ::ng-deep .slick-track{
  height: 82% !important;
}
.spriteCanvas{
  position: absolute;
}