
.text-container{
    position: absolute;
    width: 60%;
    height: 80%;
    top: 10%;
    left: 5%;
}
.container {
    position: absolute;
    width: 60%;
    height: 40%;
    top: 25%;
    left: 5%;
}

.text-container {
    position: absolute;
    width: 30%; 
    height: 80%;
    top: 10%;
}

.left {
    left: 5%;
}

.right {
    left: 60%; 
}

.divider {
    position: absolute;
    left: 56%;
    height: 10px;
    width: 1px;
    background-color: black;
}
.active.divider{
    background-color: white !important;
}
.about-text span{
    font-size: medium;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}
.about-text{
    font-size: medium;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}
.title-about {
    position: absolute;
    left: 8%;
    top:10%;
    font-size: xx-large;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.button-container {
    text-align: center; 
}

.spriteCanvas,
.rounded-button {
    display: inline-block; 
    vertical-align: middle; 
}
.button-container{
    position: absolute;
    right: 2vw;
    top: 50%;
    height: 50%;
}
.rounded-button {
    background-color: transparent; 
    color: #424242; 
    padding: 15px 32px; 
    text-align: center; 
    border: solid 2px #424242;
    font-family: 'Inter', sans-serif;
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 25px; 
    transition: background-color 0.3s; 
}
.rounded-button.active {
    color: #ffffff; 
    border: solid 2px #ffffff;
}
.rounded-button:hover {
    background-color: #42424236; 
}
.rounded-button:hover.active {
    background-color: #ffffff36; 
}

.textured-div {
    width: 80%; 
    height: 60%; 
    top: 10%;
    right: 0%;
    background: repeating-linear-gradient(
        45deg,
        #d1d0d0,
        #d1d0d0 1px,
        transparent 3px,
        transparent 5px
    );
    clip-path: polygon(50% 100%, 0% 0%, 80% 100%);

}
.textured-div.active{
    background: repeating-linear-gradient(
        45deg,
        #8f8f8f,
        #8f8f8f 1px,
        transparent 3px,
        transparent 5px
    );
}